page-devocionais-cadastrar {
  .selecaoVersiculosInput.input.input-md {
    text-align: center !important;
    font-size: x-large;
  }
  ion-card-title {
    text-align: center;
    white-space: normal;
  }
}
