<ion-header>
  <ion-navbar>
    <ion-title>Devocionais Anteriores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher
    slot="fixed"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar
    animated="true"
    placeholder="Pesquisar "
    (ionInput)="getItems($event)"
  ></ion-searchbar>
  <label style="text-align: center; white-space: 'pre-line';">
    <h3><strong>Devocionais Anteriores</strong></h3>
  </label>
  <ion-list *ngFor="let devocional of devocionaisSearch">
    <ion-item-sliding #slidingCase >
      <ion-item detail>
        <ion-checkbox
          color="dark"
          (ionChange)="verificarLido($event,devocional)"
          checked="devocional.isLido"
          [(ngModel)]="devocional.isLido"
        >
        </ion-checkbox>
        <ion-label (click)="comentario(devocional,slidingCase)">
          <h4><strong>{{ devocional.textoReferencia }}</strong></h4>
        </ion-label>
        <ion-label
          (click)="comentario(devocional,slidingCase)"
          style="white-space: normal;"
          >{{ devocional.descricao }}
        </ion-label>
      </ion-item>
      <ion-item-options side="right" *ngIf="perfilLogado">
        <button
          ion-button
          color="primary"
          (click)="alterar(devocional,slidingCase)"
        >
          <ion-icon name="md-create"></ion-icon> Alterar
        </button>
        <button
          ion-button
          color="danger"
          (click)="deletar(devocional,slidingCase)"
        >
          <ion-icon name="md-trash"></ion-icon> Deletar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
