<ion-header>
    <ion-navbar>
      <ion-title>Agenda e Eventos</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-title><strong>{{ agendaEvento.titulo }}</strong>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content>
        {{ agendaEvento.descricao }}
      </ion-card-content>
      <a [href]="agendaEvento.link" class="marginleft" *ngIf="agendaEvento.link != undefined" target="_blank"> Clique aqui para acessar</a>
      <h6 class="alinharDireita" *ngIf="agendaEvento.isEvento"> Período: {{ agendaEvento.dataInicio | date:'dd/MM/yyyy' }} até {{ agendaEvento.dataFim | date:'dd/MM/yyyy' }}</h6>
      <h6 class="alinharDireita" *ngIf="!agendaEvento.isEvento"> Data: {{ agendaEvento.diaSemanaAtividade }} - {{ agendaEvento.horaAtividade }}</h6>
      
    </ion-card>
  </ion-content>
