foto {
  // .arquivo {
  //   display: none;
  // }
  // .file {
  //   line-height: 30px;
  //   height: 30px;
  //   border: 1px solid #a7a7a7;
  //   padding: 5px;
  //   box-sizing: border-box;
  //   font-size: 15px;
  //   vertical-align: middle;
  //   width: 300px;
  // }
  // .btn {
  //   border: none;
  //   box-sizing: border-box;
  //   padding: 2px 10px;
  //   background-color: #4493c7;
  //   color: #fff;
  //   height: 32px;
  //   font-size: 15px;
  //   vertical-align: middle;
  // }
  /* Esconde o input */
  input[type="file"] {
    display: none;
  }

  /* Aparência que terá o seletor de arquivo */
  label {
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px;
  }
}
