<div hideWhen="android">
  <div *ngIf="isHabilitaVideo">
    <div>
      <ack-webcam
        #webcam
        [options]="options"
        (success)="onCamSuccess($event)"
        (catch)="onCamError($event)"
        [facingMode]="facingMode"
      ></ack-webcam>
    </div>
    <div>
      <button ion-button (click)="genBase64(webcam)" class="tamanhoFont">
        <ion-icon name="md-camera"></ion-icon>
      </button>
    </div>
  </div>

  <button
    ion-button
    *ngIf="!isHabilitaVideo"
    (click)="habilitaCamera(webcam)"
    class="tamanhoFont"
  >
    <ion-icon name="md-camera"></ion-icon>
  </button>
  <button
    ion-button
    *ngIf="!isHabilitaVideo"
    (click)="abrirBuscaArquivo()"
    class="tamanhoFont"
  >
    <ion-icon name="md-image"></ion-icon>
  </button>
  <br />
  <br />
  <div *ngIf="habilitaArquivo">
    <label for="selecao-arquivo">Selecionar um arquivo </label>
    <input
      id="selecao-arquivo"
      type="file"
      accept="image/*"
      (change)="handleFileInput($event)"
    />
    <br />
    <br />
  </div>

  <ion-item *ngIf="picture">
    <img [src]="picture" />
  </ion-item>
  <button
    *ngIf="picture"
    ion-button
    outline
    block
    (click)="postFormData(webcam)"
  >
    Enviar
  </button>
  <button *ngIf="picture" ion-button outline block (click)="cancel()">
    Descartar imagem
  </button>
</div>
<div showWhen="android">
  <ion-item style="text-align: center;">
    <button
      class="tamanhoFont"
      ion-button
      large
      clear
      icon-only
      color="primary"
      (click)="getCameraPicture()"
      [disabled]="cameraOn"
    >
      <ion-icon name="md-camera"></ion-icon>
    </button>
    <button
      class="tamanhoFont"
      ion-button
      large
      clear
      icon-only
      color="primary"
      (click)="getGalleryPicture()"
      [disabled]="cameraOn"
    >
      <ion-icon name="md-image"></ion-icon>
    </button>
    <button *ngIf="picture" ion-button outline block (click)="sendPicture()">
      Enviar imagem
    </button>
    <button *ngIf="picture" ion-button outline block (click)="cancel()">
      Descartar imagem
    </button>
  </ion-item>
</div>
