<ion-header>
  <ion-navbar>
    <ion-title>Comentários</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <div>
    <p style="font-size: 20px;">
      <ion-buttons start style="position: absolute;">
        <button (click)="fonteDiminuir()" round large>
          <ion-icon
            class="fa-search-minus"
            style="font-size: xx-large;"
          ></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button (click)="fonteAumentar()" round large item-end>
          <ion-icon
            class="fa-search-plus"
            style="font-size: xx-large;"
          ></ion-icon>
        </button>
      </ion-buttons>
    </p>
  </div>
  <form [formGroup]="formulario">
    <ion-item>
      <ion-label stacked class="alinharLabel tamanhoFonte"
        ><strong
          >Referência: {{ devocional.textoReferencia }}</strong
        ></ion-label
      >
    </ion-item>
    <versiculos
      [tamanhoFonte]="tamanhoFonte"
      [versiculos]="devocional.referencia.verses"
      [isDeleta]="false"
    ></versiculos>
    <div *ngIf="!perfilVisitante">
      <ion-item>
        <ion-label stacked [ngStyle]="{'font-size': tamanhoFonte+ 'px'}"
          ><strong>O que me chamou a atenção?</strong>
        </ion-label>
        <ion-textarea
          [ngStyle]="{'font-size': tamanhoFonte+ 'px'}"
          class="acessibilidade"
          autocomplete="true"
          autocorrect="on"
          spellcheck="true"
          rows="4"
          [(ngModel)]="comentario.chamouAtencao"
          formControlName="chamouAtencao"
          name="chamouAtencao"
          id="chamouAtencao"
          #chamouAtencao
        ></ion-textarea>
        <button class="tamanhoFonte"  ion-button clear item-end (click)="copiarTexto(comentario.chamouAtencao)" >
          <ion-icon name="md-copy"></ion-icon>
        </button>
      </ion-item>

      <h6
        class="error"
        *ngIf="!formulario.controls.chamouAtencao.valid && (formulario.controls.chamouAtencao.dirty || formulario.controls.chamouAtencao.touched)"
      >
        Por favor, informe o que chamou a atenção no texto.
      </h6>
      <ion-item>
        <ion-label stacked [ngStyle]="{'font-size': tamanhoFonte+ 'px'}"
          ><strong> O que o texto ensina sobre Deus?</strong>
        </ion-label>
        <ion-textarea
          [ngStyle]="{'font-size': tamanhoFonte+ 'px'}"
          autocorrect="on"
          spellcheck="true"
          rows="4"
          [(ngModel)]="comentario.sobreDeus"
          formControlName="sobreDeus"
          name="sobreDeus"
          id="sobreDeus"
        >
        </ion-textarea>
        <button class="tamanhoFonte" ion-button clear item-end (click)="copiarTexto(comentario.sobreDeus)" >
          <ion-icon name="md-copy"></ion-icon>
        </button>
      </ion-item>
      <h6
        class="error"
        *ngIf="!formulario.controls.sobreDeus.valid && (formulario.controls.sobreDeus.dirty || formulario.controls.sobreDeus.touched)"
      >
        Por favor, informe o texto ensina sobre Deus.
      </h6>
      <ion-item>
        <ion-label stacked [ngStyle]="{'font-size': tamanhoFonte+ 'px'}"
          ><strong>O que o texto ensina sobre a Humanidade?</strong>
        </ion-label>
        <ion-textarea
          [ngStyle]="{'font-size': tamanhoFonte+ 'px'}"
          autocorrect="on"
          spellcheck="true"
          rows="4"
          [(ngModel)]="comentario.sobreHumanidade"
          formControlName="sobreHumanidade"
          name="sobreHumanidade"
          id="sobreHumanidade"
        >
        </ion-textarea>
        <button class="tamanhoFonte" ion-button clear item-end (click)="copiarTexto(comentario.sobreHumanidade)" >
          <ion-icon name="md-copy"></ion-icon>
        </button>
      </ion-item>
      <h6
        class="error"
        *ngIf="!formulario.controls.sobreHumanidade.valid && (formulario.controls.sobreHumanidade.dirty || formulario.controls.sobreHumanidade.touched)"
      >
        Por favor, informe o texto ensina sobre a Humanidade.
      </h6>
      <ion-item>
        <ion-label stacked [ngStyle]="{'font-size': tamanhoFonte+ 'px'}"
          ><strong>E como vou obedecer a essa passagem?</strong>
        </ion-label>
        <ion-textarea
          [ngStyle]="{'font-size': tamanhoFonte+ 'px'}"
          autocorrect="on"
          spellcheck="true"
          rows="4"
          [(ngModel)]="comentario.oQueAprendi"
          formControlName="oQueAprendi"
          name="oQueAprendi"
          id="oQueAprendi"
        >
        </ion-textarea>
        <button class="tamanhoFonte" ion-button clear item-end (click)="copiarTexto(comentario.oQueAprendi)" >
          <ion-icon name="md-copy"></ion-icon>
        </button>
      </ion-item>
      <h6
        class="error"
        *ngIf="!formulario.controls.oQueAprendi.valid && (formulario.controls.oQueAprendi.dirty || formulario.controls.oQueAprendi.touched)"
      >
        Por favor, informe como vou obedecer a essa passagem.
      </h6>
    </div>
  </form>
  <ion-fab top right edge *ngIf="!perfilVisitante">
    <button ion-fab (click)="criar()" [disabled]="formulario.invalid">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-fab>
  <div style="text-align: center;" *ngIf="!perfilVisitante">
    <button
      ion-button
      color="danger"
      (click)="deletar(comentario)"
      [disabled]="comentario.dataCriacao == undefined"
    >
      <ion-icon name="md-trash"></ion-icon>
    </button>
  </div>
</ion-content>
