<ion-header>
  <ion-navbar>
    <ion-title>Comentários</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formulario">
    <ion-item>
      <ion-label stacked class="alinharLabel tamanhoFonte"
        ><strong
          >Referência: {{ devocional.textoReferencia }}</strong
        ></ion-label
      >
    </ion-item>
    <versiculos
      [versiculos]="devocional.referencia.verses"
      [isDeleta]="false"
    ></versiculos>
    <div>
      <ion-item>
        <ion-label stacked>O que me chamou a atenção? </ion-label>
        <ion-textarea
          autocomplete="true"
          autocorrect="on"
          spellcheck="true"
          rows="4"
          [(ngModel)]="comentario.chamouAtencao"
          formControlName="chamouAtencao"
          name="chamouAtencao"
        ></ion-textarea>
      </ion-item>

      <h6
        class="error"
        *ngIf="!formulario.controls.chamouAtencao.valid && (formulario.controls.chamouAtencao.dirty || formulario.controls.chamouAtencao.touched)"
      >
        Por favor, informe o que chamou a atenção no texto.
      </h6>
      <ion-item>
        <ion-label stacked>O que o texto ensina sobre Deus? </ion-label>
        <ion-textarea
          autocorrect="on"
          spellcheck="true"
          rows="4"
          [(ngModel)]="comentario.sobreDeus"
          formControlName="sobreDeus"
          name="sobreDeus"
        >
        </ion-textarea>
      </ion-item>
      <h6
        class="error"
        *ngIf="!formulario.controls.sobreDeus.valid && (formulario.controls.sobreDeus.dirty || formulario.controls.sobreDeus.touched)"
      >
        Por favor, informe o texto ensina sobre Deus.
      </h6>
      <ion-item>
        <ion-label stacked>O que o texto ensina sobre a Humanidade? </ion-label>
        <ion-textarea
          autocorrect="on"
          spellcheck="true"
          rows="4"
          [(ngModel)]="comentario.sobreHumanidade"
          formControlName="sobreHumanidade"
          name="sobreHumanidade"
        >
        </ion-textarea>
      </ion-item>
      <h6
        class="error"
        *ngIf="!formulario.controls.sobreHumanidade.valid && (formulario.controls.sobreHumanidade.dirty || formulario.controls.sobreHumanidade.touched)"
      >
        Por favor, informe o texto ensina sobre a Humanidade.
      </h6>
      <ion-item>
        <ion-label stacked>E como vou obedecer a essa passagem? </ion-label>
        <ion-textarea
          autocorrect="on"
          spellcheck="true"
          rows="4"
          [(ngModel)]="comentario.oQueAprendi"
          formControlName="oQueAprendi"
          name="oQueAprendi"
        >
        </ion-textarea>
      </ion-item>
      <h6
        class="error"
        *ngIf="!formulario.controls.oQueAprendi.valid && (formulario.controls.oQueAprendi.dirty || formulario.controls.oQueAprendi.touched)"
      >
        Por favor, informe como vou obedecer a essa passagem.
      </h6>
    </div>
  </form>
  <ion-fab top right edge>
    <button ion-fab (click)="criar()" [disabled]="formulario.invalid">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-fab>
  <div style="text-align: center;">
    <button
      ion-button
      color="danger"
      (click)="deletar(comentario)"
      [disabled]="comentario.dataCriacao == undefined"
    >
      <ion-icon name="md-trash"></ion-icon>
    </button>
  </div>
</ion-content>
