<ion-header>
  <ion-navbar>
    <ion-title>Listar Mensagens</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    animated="true"
    placeholder="Pesquisar "
    (ionInput)="getItems($event)"
  ></ion-searchbar>
  <ion-list sliding="true">
    <ion-item detail-push *ngFor="let mensagem of mensagensSearch">
      <h2><label>Autor(a): </label>{{ mensagem.autor }}</h2>
      <h4><label>Mensagem: </label>{{ mensagem.mensagem.substr(0, 10) + '...' }}</h4>
    </ion-item>
  </ion-list>

  <!-- <ion-card *ngFor="let mensagem of mensagens">
    <ion-card-header>
      <ion-card-title>Mensagens</ion-card-title>
      <ion-card-subtitle>Autor(a): {{ mensagem.autor }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ mensagem.mensagem }}
    </ion-card-content>
  </ion-card> -->
</ion-content>
