page-ofertas-servico-detalhar {
  ion-icon {
    color: blue !important;
  }

  ion-item-divider {
    white-space: "pre-line";
  }
  span {
    white-space: "pre-line";
  }
  ion-card-title {
    text-align: center;
    white-space: normal;
  }
}
