<ion-header>
  <ion-navbar>
    <ion-title>Valorize o que é nosso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center" text-wrap><strong>{{ servico.nome }}</strong>
      </ion-card-title> 
    </ion-card-header>
    <ion-card-content>
      <span [innerHTML]=" servico.descricao "></span>
    </ion-card-content>
    <ion-list>
      <h6 *ngIf="servico.telefones" ><ion-icon name="md-call" style="color: #55acee"></ion-icon>  {{ servico.telefones }}</h6>
      <h6 *ngIf="servico.emailServico"><ion-icon name="md-mail-open"></ion-icon> {{ servico.emailServico }}</h6>
      <h6 *ngIf="servico.instagram"><ion-icon name="logo-instagram"></ion-icon> {{ servico.instagram }}</h6>
      <h6 *ngIf="servico.facebook"><ion-icon name="logo-facebook"></ion-icon> {{ servico.facebook }}</h6>
      <ion-item-divider *ngIf="servico.endereco"><label>Endereço: </label> {{ servico.endereco }}</ion-item-divider>
    </ion-list>
  </ion-card>
</ion-content>
